h1{
  color: white;
  background-color: black;
  border: 2px solid yellow;
  border-radius: 5px;
  box-shadow: 4px 7px 7px;
  text-align: center;
  
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: purple;
  color: white;
  box-shadow: 2px 5px 5px 2px;
  border: 2px solid green!
}

body{
  background-color: #54626F;
  
}

footer{
  text-align: center;
  
}

button{
  
  padding-left: 15px;
  margin-left: 15px;
  float: center;
  font-style: italic;
   color: white;
  background-color: blue;
 
  
}




a{
  
  color: white;
  background-color: red;
  border: 3px solid black;
  border-radius: 5px;
  
}

div{
  
  color: black;
  background-color: white;
  margin-right: 0px;
  margin-left: 0px;
  border: 2px solid black;
  text-align: center;
  padding-left: 53px;
  padding-right: 53px;
  text-shadow: 2px 3px 3px;
}

h4{
  
   text-align: center;
   box-shadow: 2px 6px 6px;
}


p{
  font-style: italic;
  color: white;
  
}