img { 
height: 10%;
width: 80%; 
border: 2px solid blue;
padding-top: 15px;
padding:  9px;
background-color: yellow;


  
}

body {

  background-color: 	black;
  margin-right: 2rem;
  margin-left: 2rem;
}


h2 { color: black;
background-color: white;
font-size: 150%;
text-align: center; 
border: 2px solid green;
  
}

p {
  text-align: right;
  font-size: 70%;
  background-color:red;
  color: white;
  border: 4px solid white;
  margin-left: 12rem
  
  
}