img { 
height: 10%;
width: 80%; 
border: 2px solid blue;
padding-top: 15px;
padding:  9px;
background-color: yellow;
border-radius: 10px;



  
}

body {

  background-color:#7CB9E8;
  margin-right: 2rem;
  margin-left: 2rem;
}


h2 { color: black;
background-color:#8F9779 ;
font-size: 350%;
text-align: center; 
border: 3px solid green;
  border-radius: 10px
  
}

p {
  text-align: right;
  font-size: 200%;
  background-color: purple;
  color: white;
  border: 4px solid white;
  margin-left: 100rem;
  
  
}
