img { 
height: 10%;
width: 80%; 
border: 2px solid blue;
padding-top: 15px;
padding:  9px;
background-color: yellow;
border-radius: 4px;
img: center;


  
}

body {

  background-color:#7CB9E8;
  margin-right: 2rem;
  margin-left: 2rem;
}


h2 { color: black;
background-color:#8F9779 ;
font-size: 200%;
text-align: center; 
border: 2px solid green;
  
}

p {
  text-align: right;
  font-size: 100%;
  background-color:red;
  color: white;
  border: 4px solid white;
  margin-left: 20rem;
  
  
}
