body {

  background-color: 	#F0F8FF;}


img { 
height: 30%;
width: 100%; 
border: 2px solid yellow;
  
}

div h3{
  
  border: 2px solid yellow;
  background-color: black;
  text-align: center;
  color: white;
  
  
}